<!-- Who are we Section -->
    <section id="whoarewe" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading font-light">Who are we</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12  text-muted">
                    <p>We are a team of 2 technical ninjas.  One of us has a black belt in iOS & web development while the other has mastered the art of Android & backend development.  We’ve marketed our own personal apps to great success and coached clients throughout our careers on how to achieve the best user experience which is a key component of launching a successful app.</p>
                </div>
            </div>
        </div>
    </section>
