<!-- Why us Section -->
    <section id="whyus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why us?</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Our experience</h4>
                    <p class="text-muted">We have built & deployed apps for small startups to large agencies.  We’ve driven apps to 100k downloads in their first week and had apps we’ve built featured on Yahoo, Lifehacker & more.  We know what’s needed to take your idea to that next level.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">We understand</h4>
                    <p class="text-muted">we are a startup which means we understand.  We understand being able to move quickly matters, that being agile is important, that learning fast is everything.  That’s why we build exactly what you need.  Quicker than anyone else.  No bureaucracy.  No bs.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">We work with you</h4>
                    <p class="text-muted">We don’t just take instruction, we work with you to bring your vision to life.  We contribute to every stage of creation from concept to launch, bringing our wealth of experience in UI, UX, marketing, promotion, feature set & more.</p>
                </div>
            </div>
        </div>
    </section>
